.explore_ct{
    height: calc(100vh - 62px);
    width: 100%;
    background-color: rgb(250,250,250);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translate(0, 92px);
}

.explore_click{
    cursor: pointer;
}

/*.MuiImageListItem-img, .MuiImageListItem-root{*/
/*    width: 100%!important;*/
/*    height: auto!important;*/
/*}*/