.friendCard_container{
    background-color: white;
    /*width: 50%;*/
    min-width: 350px;
    /*height: 15%;*/
    margin:16px 0 0;
    padding:16px 0;
    border-radius: 8px;
    border: 1px solid rgb(219,219,219);
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 110px;
}

.friendCard_person{
    padding-left: 0.6rem;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.friendCard_person:hover{
    cursor: pointer;
}

.friendCard_text{
    font-size: 0.85rem;
    width: 75px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
