.profile_Container{
    /*border: 1px solid black;*/

    width: 100%;

    margin: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 0rem 1rem;

}

.profile_switchButton{
    border: none;
    background: transparent;
    color: rgb(65,147,239);
    font-weight: bolder;
}

.profile_switchButton:hover{
    cursor: pointer;
}

.profile_names{
    display: flex;
    align-items: center;
}

.profile_names:hover{
    cursor: pointer;
}

.profile_id{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    /*gap: 0.1rem;*/
}