.mainContent_container{
    /*border: 1px solid black;*/
    min-height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    transform:translate(0, 62px);
}

.mainContent_return:hover{
    cursor: pointer;
}

.mainContent_left{
    width: 55%;
}

.mainContent_right{
    width: 40%;
}


