.mainContent_container{
    /*border: 1px solid black;*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.mainContent_left{
    width: 55%;
}

.mainContent_right{
    width: 40%;
}


